# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# The database URL is used to connect to your database.
SHADOW_DATABASE_URL=postgres://myuser:mypassword@unibus_postgres:5432/shadow
DATABASE_URL=postgres://myuser:mypassword@unibus_postgres:5432/mydb

# @see https://next-auth.js.org/configuration/options#nextauth_url
AUTH_URL='http://localhost:3000'
# AUTH_REDIRECT_PROXY_URL="http://localhost:3001/api"

# You can generate the secret via 'openssl rand -base64 32' on Unix
# @see https://next-auth.js.org/configuration/options#secret
AUTH_SECRET='supersecret'

# Preconfigured Discord OAuth provider, works out-of-the-box
# @see https://next-auth.js.org/providers/discord
AUTH_DISCORD_ID="ID"
AUTH_DISCORD_SECRET="SECRET"

# Postgres Database and PgAdmin configuration
POSTGRES_USER=root
POSTGRES_PASSWORD=root
PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
PGADMIN_DEFAULT_PASSWORD=pgadmin4
PGADMIN_PORT=5050

# Application domain
# NEXT_PUBLIC_DOMAIN_NAME=unibus.fbi.com